.triangle-left {
  width: 0px;
  height: 0px;
  margin: 1.5% 3% 0 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 26px solid rgb(194, 200, 209);
}

.triangle-right {
  width: 0px;
  height: 0px;
  margin: 1.5% 0 0 3%;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 26px solid rgb(194, 200, 209);
}

.cur-year-month {
  display: flex;
  margin: 2% 0 0 4%;
  text-align: center;
}

.table {
  margin: 2%;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  .table-head {
    display: flex;
    justify-content: center;
    .table-head-content {
      width: 10%;
      margin: 2%;
      line-height: 60px;
      text-align: center;
      color: #86909c;
      border-radius: 2px;
    }
  }
  .table-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2%;
    .table-body-content {
      width: 10%;
      margin: 2%;
      line-height: 64px;
      text-align: center;
      color: #1d2129;
      font-weight: 500;
      background-color: #e8f3ff;
      border-radius: 9999px;
      box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
    }
    .today {
      color: #fff;
      background-color: #1e80ff;
    }
    .future {
      color: #86909c;
      background-color: #f2f3f6;
    }
  }
}

.daily-attendance-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2%;
  text-align: center;
  font-size: 44px;
  line-height: 80px;
  border-radius: 6px;
  background-color: #e8f3ff;
}
