.table {
    box-sizing: border-box;
    margin: 0 6%;
    background-color: rgb(240 249 255);
    .table-head {
        display: flex;
        justify-content: center;
        .table-head-content {
            font-weight: bold;
            width: 10%;
            margin: 1%;
            text-align: center;
            border: 1px solid rgb(56 189 248);
            border-radius: 8px;
        }
    }
    .table-body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .table-body-content {
            width: 10%;
            margin: 1%;
            text-align: center;
            border: 1px solid rgb(56 189 248);
            border-radius: 8px;
        }
    }
}